In [45]:
import pandas as pd 
import numpy as np 
import json
pd.set_option('display.max_columns', None)

In [3]:
df_base = pd.read_csv('data/Base.csv')
df_v1 = pd.read_csv('data/Variant I.csv')
df_v2 = pd.read_csv('data/Variant II.csv')
df_v3 = pd.read_csv('data/Variant III.csv')
df_v4 = pd.read_csv('data/Variant IV.csv')
df_v5 = pd.read_csv('data/Variant V.csv')

In [4]:
df_base.head()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,velocity_6h,velocity_24h,velocity_4w,bank_branch_count_8w,date_of_birth_distinct_emails_4w,employment_status,credit_risk_score,email_is_free,housing_status,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.3,0.986506,-1,25,40,0.006735,102.453711,AA,1059,13096.035018,7850.955007,6742.080561,5,5,CB,163,1,BC,0,1,9,0,1500.0,0,INTERNET,16.224843,linux,1,1,0,0
1,0,0.8,0.617426,-1,89,20,0.010095,-0.849551,AD,1658,9223.283431,5745.251481,5941.664859,3,18,CA,154,1,BC,1,1,2,0,1500.0,0,INTERNET,3.363854,other,1,1,0,0
2,0,0.8,0.996707,9,14,40,0.012316,-1.490386,AB,1095,4471.472149,5471.988958,5992.555113,15,11,CA,89,1,BC,0,1,30,0,200.0,0,INTERNET,22.730559,windows,0,1,0,0
3,0,0.6,0.475100,11,14,30,0.006991,-1.863101,AB,3483,14431.993621,6755.344479,5970.336831,11,13,CA,90,1,BC,0,1,1,0,200.0,0,INTERNET,15.215816,linux,1,1,0,0
4,0,0.9,0.842307,-1,29,40,5.742626,47.152498,AA,2339,7601.511579,5124.046930,5940.734212,1,6,CA,91,0,BC,1,1,26,0,200.0,0,INTERNET,3.743048,other,0,1,0,0

In [49]:
## Create .json of data types 

target = 'fraud_bool'

nominal = ['payment_type',
 'employment_status',
 'housing_status',
 'source',
 'device_os',
 'income',
 'customer_age',
 'email_is_free',
 'phone_home_valid',
 'phone_mobile_valid',
 'has_other_cards',
 'foreign_request',
 'keep_alive_session']

ordinal = ['income', 
 'customer_age', 
 'month']

numerical = ['name_email_similarity',
 'prev_address_months_count',
 'current_address_months_count',
 'days_since_request',
 'intended_balcon_amount',
 'zip_count_4w',
 'velocity_6h',
 'velocity_24h',
 'velocity_4w',
 'bank_branch_count_8w',
 'date_of_birth_distinct_emails_4w',
 'credit_risk_score',
 'bank_months_count',
 'proposed_credit_limit',
 'session_length_in_minutes',
 'device_fraud_count',
 'device_distinct_emails_8w',
]

data_types = {}
data_types['target'] = target
data_types['nominal'] = nominal
data_types['ordinal'] = ordinal
data_types['numerical'] = numerical

with open("data_types.json", "w") as json_file:
    json.dump(data_types, json_file, indent=4)

In [58]:
## features that don't appear in df_base

for i in [df_v5, df_v4, df_v3, df_v2, df_v1]:
    for j in i.columns:
        if j not in df_base.columns:
            print(j)

x1
x2
x1
x2

In [114]:
# missing values
pd.DataFrame(df_base.isnull().sum())

                                  0
fraud_bool                        0
income                            0
name_email_similarity             0
prev_address_months_count         0
current_address_months_count      0
customer_age                      0
days_since_request                0
intended_balcon_amount            0
payment_type                      0
zip_count_4w                      0
velocity_6h                       0
velocity_24h                      0
velocity_4w                       0
bank_branch_count_8w              0
date_of_birth_distinct_emails_4w  0
employment_status                 0
credit_risk_score                 0
email_is_free                     0
housing_status                    0
phone_home_valid                  0
phone_mobile_valid                0
bank_months_count                 0
has_other_cards                   0
proposed_credit_limit             0
foreign_request                   0
source                            0
session_length_in_minutes         0
device_os                         0
keep_alive_session                0
device_distinct_emails_8w         0
device_fraud_count                0
month                             0

In [71]:
# missing values as -1
def missing_values(dataframe):

    columns = []
    minus_one_count = []
    minus_one_percentage = []

    for i in dataframe.columns:

        minus_one_c = (dataframe[i] == -1).sum()
        minus_one_p = (minus_one_c/len(df_base)) * 100


        columns.append(i)
        minus_one_count.append(minus_one_c)
        minus_one_percentage.append(minus_one_p)

    return pd.DataFrame({'Feature':columns,
                            '-1 Count':minus_one_count,
                            '-1 (%)': minus_one_percentage}).set_index('Feature')
     

missing_values(df_base)

                                  -1 Count   -1 (%)
Feature
fraud_bool                               0   0.0000
income                                   0   0.0000
name_email_similarity                    0   0.0000
prev_address_months_count           712920  71.2920
current_address_months_count          4254   0.4254
customer_age                             0   0.0000
days_since_request                       0   0.0000
intended_balcon_amount                   0   0.0000
payment_type                             0   0.0000
zip_count_4w                             0   0.0000
velocity_6h                              0   0.0000
velocity_24h                             0   0.0000
velocity_4w                              0   0.0000
bank_branch_count_8w                     0   0.0000
date_of_birth_distinct_emails_4w         0   0.0000
employment_status                        0   0.0000
credit_risk_score                      488   0.0488
email_is_free                            0   0.0000
housing_status                           0   0.0000
phone_home_valid                         0   0.0000
phone_mobile_valid                       0   0.0000
bank_months_count                   253635  25.3635
has_other_cards                          0   0.0000
proposed_credit_limit                    0   0.0000
foreign_request                          0   0.0000
source                                   0   0.0000
session_length_in_minutes             2015   0.2015
device_os                                0   0.0000
keep_alive_session                       0   0.0000
device_distinct_emails_8w              359   0.0359
device_fraud_count                       0   0.0000
month                                    0   0.0000

In [121]:
# nominal variables

from scipy.stats import chi2_contingency
with open('data_types.json') as f:
   data = json.load(f)
nominals = data['nominal']
target = data['target']

features = []
chi_square_statistics = []
p_values = []
cramers_vs = []

for i in nominals:
   chi_square_statistic, p_value = chi2_contingency(pd.crosstab(df_base[i], 
                                                                df_base[target]))[:2]
   
   n = df_base.shape[0]
   min_dim = 1
   cramers_v = np.sqrt(chi_square_statistic / (n * min_dim))
   
   features.append(i)
   chi_square_statistics.append(chi_square_statistic)
   p_values.append(p_value)
   cramers_vs.append(cramers_v)

nominal_variables_significance = pd.DataFrame({'Feature':features, 
                                      'Chi Square Statistic':chi_square_statistics, 
                                      'p-value': p_values,
                                      'cramers v': cramers_vs}).sort_values('cramers v', ascending=False).set_index('Feature')

In [122]:
nominal_variables_significance

                    Chi Square Statistic        p-value  cramers v
Feature
housing_status              13202.787719   0.000000e+00   0.114903
device_os                    6478.945928   0.000000e+00   0.080492
customer_age                 4465.932899   0.000000e+00   0.066828
income                       3163.407149   0.000000e+00   0.056244
keep_alive_session           2528.754445   0.000000e+00   0.050287
employment_status            1572.499001   0.000000e+00   0.039655
payment_type                 1528.342010   0.000000e+00   0.039094
has_other_cards              1235.161652  1.392459e-270   0.035145
phone_home_valid             1233.281326  3.567963e-270   0.035118
email_is_free                 769.952405  1.841219e-169   0.027748
foreign_request               284.060841   9.787932e-64   0.016854
phone_mobile_valid            173.301368   1.406547e-39   0.013164
source                         14.937804   1.111140e-04   0.003865

In [130]:
from scipy.stats import pointbiserialr, ttest_ind
with open('data_types.json') as f:
   data = json.load(f)
numericals = data['numerical']
target = data['target']

features = []
correlations = []
p_values = []
t_stats = []
t_stat_p_values = []

for i in numericals:
   df = df_base[df_base[i] != -1] #remove missing values

   # point-biserial correlation
   correlation, p_value = pointbiserialr(df[i], df[target])

   # welch's t-test for mean comparison
   group_0 = df[df[target] == 0][i]
   group_1 = df[df[target] == 1][i]
   t_stat, p_value_of_t_stat = ttest_ind(group_0, group_1, equal_var=False)

   features.append(i)
   correlations.append(correlation)
   p_values.append(p_value)
   t_stats.append(t_stat)
   t_stat_p_values.append(p_value_of_t_stat)
   
numerical_variables_significance = pd.DataFrame({'Feature':features, 
                                      'Point-Biserial Correlation':correlations, 
                                      'p-value': p_values,
                                      't_stat': t_stats,
                                      't_stat p_value': t_stat_p_values}).sort_values('Point-Biserial Correlation', ascending=False).set_index('Feature')

/opt/miniconda3/envs/pytf/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

In [131]:
numerical_variables_significance

,Point-Biserial Correlation,p-value,t_stat,t_stat p_value
Feature,,,,
credit_risk_score,0.070588,0.000000e+00,-60.091371,0.000000e+00
proposed_credit_limit,0.068907,0.000000e+00,-52.350791,0.000000e+00
device_distinct_emails_8w,0.036542,1.921787e-292,-20.377266,1.199204e-90
current_address_months_count,0.033480,7.586132e-245,-34.620596,1.082672e-249
bank_months_count,0.020929,4.312880e-73,-17.692433,1.458684e-68
prev_address_months_count,0.020083,5.238191e-27,-8.357725,2.417317e-16
session_length_in_minutes,0.008974,3.100450e-19,-7.450250,1.000315e-13
zip_count_4w,0.005212,1.868284e-07,-5.210355,1.918071e-07
days_since_request,0.000567,5.705248e-01,-0.535197,5.925240e-01
velocity_24h,-0.011183,4.921883e-29,11.511446,1.709035e-30
velocity_4w,-0.011536,8.687409e-31,10.882405,1.915534e-27
bank_branch_count_8w,-0.011577,5.397590e-31,12.764196,4.674261e-37
velocity_6h,-0.016892,5.019689e-64,17.508297,9.682576e-68
intended_balcon_amount,-0.024524,7.408217e-133,29.776915,1.070649e-187
name_email_similarity,-0.036720,2.255505e-295,35.923329,1.167023e-267
date_of_birth_distinct_emails_4w,-0.043224,0.000000e+00,44.852802,0.000000e+00
device_fraud_count,NaN,NaN,NaN,NaN

In [151]:
from scipy.stats import spearmanr
from sklearn.linear_model import LogisticRegression
with open('data_types.json') as f:
   data = json.load(f)
ordinals = data['ordinal']
target = data['target']

features = []
correlations = []
p_values = []
log_reg_coefs = []

for i in ordinals:
   df = df_base[df_base[i] != -1] #remove missing values

   # spearman correlation
   correlation, p_value = spearmanr(df_base[i], df_base[target])

   # logistic regression coefficient check
   X = df_base[[i]]
   y = df_base[target]
   model = LogisticRegression()
   model.fit(X, y)
   log_reg_coef = model.coef_[0][0] 

   features.append(i)
   correlations.append(correlation)
   p_values.append(p_value)
   log_reg_coefs.append(log_reg_coef)

ordinal_variables_significance = pd.DataFrame({'Feature':features, 
                                      'Spearman Correlation':correlations, 
                                      'p-value': p_values,
                                      'Log Regression coef': log_reg_coefs}).sort_values('Log Regression coef', ascending=False).set_index('Feature')

In [152]:
ordinal_variables_significance

              Spearman Correlation       p-value  Log Regression coef
Feature
income                    0.049583  0.000000e+00             1.711414
month                     0.012949  2.362542e-38             0.057181
customer_age              0.058146  0.000000e+00             0.045050

In [135]:
# SMOTE for balancing