In [45]:
import pandas as pd 
import numpy as np 
import json
pd.set_option('display.max_columns', None)

In [3]:
df_base = pd.read_csv('data/Base.csv')
df_v1 = pd.read_csv('data/Variant I.csv')
df_v2 = pd.read_csv('data/Variant II.csv')
df_v3 = pd.read_csv('data/Variant III.csv')
df_v4 = pd.read_csv('data/Variant IV.csv')
df_v5 = pd.read_csv('data/Variant V.csv')


### next steps
#### significance testing
    - feature sub categories
    - are missing values indicative of target variable?


#### visualisations
    - is there an order? A to G for the following variables, can they be treated as ordinal:
        - housing_status
        - employment_status

In [188]:
from EDA import FeatureStats
stats = FeatureStats(df_base, target='fraud_bool', dtypes='data_types.json')

In [193]:
stats.nominal_stats()

                    Chi Square Statistic        p-value  cramers v
Feature
housing_status              13202.787719   0.000000e+00   0.114903
device_os                    6478.945928   0.000000e+00   0.080492
customer_age                 4465.932899   0.000000e+00   0.066828
income                       3163.407149   0.000000e+00   0.056244
keep_alive_session           2528.754445   0.000000e+00   0.050287
employment_status            1572.499001   0.000000e+00   0.039655
payment_type                 1528.342010   0.000000e+00   0.039094
has_other_cards              1235.161652  1.392459e-270   0.035145
phone_home_valid             1233.281326  3.567963e-270   0.035118
email_is_free                 769.952405  1.841219e-169   0.027748
foreign_request               284.060841   9.787932e-64   0.016854
phone_mobile_valid            173.301368   1.406547e-39   0.013164
source                         14.937804   1.111140e-04   0.003865

In [194]:
stats.numerical_stats()

/opt/miniconda3/envs/pytf/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

,Point-Biserial Correlation,p-value,t_stat,t_stat p_value
Feature,,,,
credit_risk_score,0.070588,0.000000e+00,-60.091371,0.000000e+00
proposed_credit_limit,0.068907,0.000000e+00,-52.350791,0.000000e+00
device_distinct_emails_8w,0.036542,1.921787e-292,-20.377266,1.199204e-90
current_address_months_count,0.033480,7.586132e-245,-34.620596,1.082672e-249
bank_months_count,0.020929,4.312880e-73,-17.692433,1.458684e-68
prev_address_months_count,0.020083,5.238191e-27,-8.357725,2.417317e-16
session_length_in_minutes,0.008974,3.100450e-19,-7.450250,1.000315e-13
zip_count_4w,0.005212,1.868284e-07,-5.210355,1.918071e-07
days_since_request,0.000567,5.705248e-01,-0.535197,5.925240e-01
velocity_24h,-0.011183,4.921883e-29,11.511446,1.709035e-30
velocity_4w,-0.011536,8.687409e-31,10.882405,1.915534e-27
bank_branch_count_8w,-0.011577,5.397590e-31,12.764196,4.674261e-37
velocity_6h,-0.016892,5.019689e-64,17.508297,9.682576e-68
intended_balcon_amount,-0.024524,7.408217e-133,29.776915,1.070649e-187
name_email_similarity,-0.036720,2.255505e-295,35.923329,1.167023e-267
date_of_birth_distinct_emails_4w,-0.043224,0.000000e+00,44.852802,0.000000e+00
device_fraud_count,NaN,NaN,NaN,NaN

In [195]:
stats.ordinal_stats()

              Spearman Correlation       p-value  Log Regression coef
Feature
income                    0.049583  0.000000e+00             1.711414
month                     0.012949  2.362542e-38             0.057181
customer_age              0.058146  0.000000e+00             0.045050

In [196]:
stats.overview()

                                    dtype  -1 Count   -1 (%)  unique values
Feature
fraud_bool                          int64         0   0.0000              2
income                            float64         0   0.0000              9
name_email_similarity             float64         0   0.0000         998861
prev_address_months_count           int64    712920  71.2920            374
current_address_months_count        int64      4254   0.4254            423
customer_age                        int64         0   0.0000              9
days_since_request                float64         0   0.0000         989330
intended_balcon_amount            float64         0   0.0000         994971
payment_type                       object         0   0.0000              5
zip_count_4w                        int64         0   0.0000           6306
velocity_6h                       float64         0   0.0000         998687
velocity_24h                      float64         0   0.0000         998940
velocity_4w                       float64         0   0.0000         998318
bank_branch_count_8w                int64         0   0.0000           2326
date_of_birth_distinct_emails_4w    int64         0   0.0000             40
employment_status                  object         0   0.0000              7
credit_risk_score                   int64       488   0.0488            551
email_is_free                       int64         0   0.0000              2
housing_status                     object         0   0.0000              7
phone_home_valid                    int64         0   0.0000              2
phone_mobile_valid                  int64         0   0.0000              2
bank_months_count                   int64    253635  25.3635             33
has_other_cards                     int64         0   0.0000              2
proposed_credit_limit             float64         0   0.0000             12
foreign_request                     int64         0   0.0000              2
source                             object         0   0.0000              2
session_length_in_minutes         float64      2015   0.2015         994887
device_os                          object         0   0.0000              5
keep_alive_session                  int64         0   0.0000              2
device_distinct_emails_8w           int64       359   0.0359              4
device_fraud_count                  int64         0   0.0000              1
month                               int64         0   0.0000              8